<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>HousePrice API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>
<style>
    .heading {
        color: burlywood;
    }
    .input-user {
        border-block-color: revert;
        border: 2px solid darkseagreen;
        border-radius: 5px;
        padding: 10px;
    }
    .predict-btn {
        padding: 5px;
        background: bisque;
        border-radius: 5px;
        cursor: pointer;
    }
    .products {
        color: chocolate;
    }
</style>
<body>
  <div class="login">
    <h1 class="heading">Recommendation of Products</h1>
    <form action="{{ url_for('predict')}}" method="post">
      <input  class="input-user" type="text" name="reviews_username" placeholder="Enter Your Username" required="required" /><br><br>
      <button class="predict-btn" type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>
    <h3>Top 5 Recommendations are:</h3>
    {% for val in data %}
        <h4 class="products">{{val}}</h4>
    {% endfor %}
  </div>
</body>
</html>